extends layout.pug

block content
  .row.center-xs
    .col-xs-8
      .row.between-xs.header
        .col-xs-4
          .row.user-row
            .col-xs
              b.team-name
              br
              small
                a(href="#") Sign out
        .col-xs-4
          .box
            button.btn.share-btn Share
      .map-container
